MONGODB_URI=mongodb://localhost:27017/heyama-db
PORT=3000
ALLOWED_ORIGINS=http://localhost:3000
MAX_IMAGE_SIZE_IN_MB=5
BUCKET_NAME=heyama-test
BUCKET_REGION=eu-central-003
BUCKET_ENDPOINT=https://s3.eu-central-003.backblazeb2.com
BUCKET_ACCESS_KEY_ID=003445a91b5g4b00000000001
BUCKET_SECRET_ACCESS_KEY=KD555FZzPH8Q9DXy5XMHm7LoDq7eHCs
PUBLIC_IMAGE_URL_PREFIX=https://f003.backblazeb2.com/file/hello-test